@import "normalize.css";

html, body {
  height:100%;
}

.home-page {
  //border:1px dotted red;
  .header {
    background: url("../images/rustGo.png");
    background-size: cover;
    background-position: center;
    border:1px dotted blue;
    height:70vh;
  }
}