@import "normalize.css";

$colors:(
  primary:rgba(#68d0db, 1),
  secondary:rgba(brown, 1)
);

@function color($name){
  @return map-get($colors, $name)
}

body {
  height:100vh;
}

nav {
  background-color: color("primary");

  li {
    color:black;
  }
  .state-icon {
    background-color: beige;
    color:grey;
  }
}

.home-page {

  border:1px dotted blue;
  height:89%;

  .about {
    border:1px dotted green;
    height:90%;
    h1 {
      span {
        color:blue;
        span {
          color:red;
        }
      }
    }
  }
  footer {
    background-color: color("primary");
    height:10%;
    display:grid;
    grid-template:repeat(1, 1fr)/repeat(6, 1fr);
    grid-template-areas: "g g d d r r ";


    i {
      display: flex;
      justify-content: center;
    }
    .fa-github {
      grid-area: g;
    }
    .fa-docker {
      grid-area: d;
    }
    .fa-reddit {
      grid-area: r;
    }
  }
}

.profile {
  .avatar {
    img {
      border:1px dotted red;
    }
  }
}
