{{ define "comment" }}
    <li class="comment collection-item row">
        <p class="center-align body col s10">{{.Body}}</p>
        <div class="info col s2 push-1">
            <i class="material-icons">person</i><a href="/profile/{{.Author.Name}}">{{.Author.Name}}</a>
            {{template "comment_form" .}}{{.CommentCount}}
        </div>
    </li>
    {{template "comments" .}}
{{end}}