{{define "login"}}

    {{if not .LoggedIn}}
        <form action="/login" method="POST" class="login-form">
            <div class="input-field">
                <input type="text" name="name" id="name...">
                <label for="name">Name</label>
            </div>
            <input type="password" name="password" placeholder="password...">
            <input type="submit" value="Login!">
        </form>
    {{end}}

{{end}}