{{define "login"}}

    {{if not .LoggedIn}}
        <form action="/login" method="POST" class="login-form col s6">
            <input type="text" name="name" placeholder="name...">
            <input type="password" name="password" placeholder="password...">
            <input class="btn" type="submit" value="Login!">
        </form>
    {{end}}

{{end}}