{{define "post_form"}}

    {{if .LoggedIn}}
        <form action="/api/posts/" method="POST">
            <input type="text" name="title" placeholder="Title...">
            <input type="text" name="body" placeholder="Body...">
            <input type="submit" class="btn" value="Post">
        </form>
    {{end}}

{{end}}