{{define "post"}}


    <li class="post">

        <div class="collapsible-header row h">
            <p class="col s10">{{.Title}}</p>
            <span class="col s2"> <i class="material-icons">person</i>{{.Author.Name}}  <i class="material-icons">comment</i>{{.CommentCount}} </span>
        </div>

        <div class="collapsible-body">
            <p>{{.Body}}</p>
            {{template "comments" .}}
        </div>

    </li>
{{end}}