{{define "blog"}}
    {{template "head" .}}

        {{template "post_form" .}}

        <div class="container">
            {{template "posts" .Posts}}
        </div>

    {{template "tail"}}
{{end}}