{{define "profile"}}
    {{template "head" .}}


        <div class="profile" >

            {{if .LoggedIn}}
                <div class="avatar"></div>

                <ul class="info">
                    <li>{{.Name}}</li>
                    <li>{{.Email}}</li>
                </ul>
                {{template "posts" .Posts}}
                {{template "comments" .Comments}}
            {{end}}

        </div>

    {{template "tail"}}
{{end}}